* {
	padding: 0px;
	margin: 0px;
	font-size: small;
}

body {
	display: flex;
	background-color: yellowgreen;
	height: 100vh;
	width: 100vw;
}

/* nav ----------------------------------------------------------------------------------- */

nav {
	background-color: white;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

nav > button {
	height: 56px;
	width: 70px;
}

.youtube_music,
.offline_save {
	height: calc(56px + 1em);
}

/* header ------------------------------------------------------------------------------ */

header {
	width: calc(100vw - 70px);
	height: 56px;
	background: white;
	display: flex;
	align-items: center;
}

img {
	height: inherit;
}

.search_area,
.voice_search,
.upload,
.apps,
.alarm,
.profile {
	margin-left: 15px;
}

.profile {
	margin-right: 15px;
}

header button {
	width: 30px;
	height: 30px;
	flex-shrink: 0;
}

header button:not(.search_icon),
nav button {
	border: 0px none black;
	background-color: white;
}

header button:not(.search_icon):hover,
nav button:hover {
	background-color: rgb(236, 236, 236);
}

i:not(.fa-search, .fa-keyboard, .channel_profile) {
	font-size: 1.5em;
}

.search_area {
	display: flex;
	flex-grow: 1;
	position: relative;
	align-items: center;
}

.search_area > input {
	flex-grow: 1;
	padding-left: 0.3em;
	height: 30px;
}

.search_area > * {
	border: 1px solid rgb(194, 194, 194);
}

.virtual_keyboard {
	position: absolute;
	right: 40px;
	background-color: white;
	height: fit-content;
	width: fit-content;
}

input[type="text"] {
	border-right-width: 0px;
}

.search_icon:hover {
	background-color: rgb(228, 228, 228);
}

/* main ------------------------------------------------------------------------- */

.main_container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	overflow: scroll;
	display: flex;
	justify-content: center;
	padding: 15px;
	background-color: rgb(241, 241, 241);
	flex-wrap: wrap;
	align-content: flex-start;
	flex-grow: 1;
	border-top: 0.5px solid rgb(212, 212, 212);
}

article {
	margin: 10px;
	padding: 5px;
	height: fit-content;
	background-color: white;
}

.fa-user-circle {
	vertical-align: top;
	padding: 5px;
}

.video_explanation {
	display: inline-block;
	margin: 3px;
}

/* etc ------------------ */

.pop_up {
	position: fixed;
	height: 50px;
	width: 50px;
	background-color: greenyellow;
	border: 3px solid green;
	color: green;
	font-weight: bold;
	bottom: 30px;
	right: 30px;
}

.pop_up:hover {
	background-color: green;
	color: white;
	color: greenyellow;
}
