.container {
	background: beige;
	height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	align-content: space-around;
}

.item {
	width: 40px;
	height: 40px;
	border: 1px solid black;
}

.item1 {
	background-color: rgb(255, 113, 113);
	flex-basis: 15%;
}
.item2 {
	background-color: rgb(230, 189, 136);
	flex-basis: 15%;
}
.item3 {
	background-color: rgb(92, 160, 219);
	flex-basis: 15%;
}