* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	height: 100px;
	background-color: #b2d6ff;
}

.sidebar {
	float: left;
	width: 200px;
	height: 300px;
	background-color: #f09a9d;
}

.content {
	float: left;
	width: 650px;
	height: 500px;
	background-color: #f5cf8e;
}

.footer {
	overflow: hidden;
	background-color: #d6e9fe; /* Light blue */
}

.page {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	background-color: #eaedf0;
}

.container {
	overflow: hidden;
	background-color: #eaedf0;
}

.footer-item {
	float: left;
	width: 80%;
	margin: 20px 1.15%;
	height: 160px;
	background-color: #b2d6ff;
}

.content {
	padding: 20px;
}

.article-image {
	float: left;
	width: 300px;
	height: 300px;
	margin-right: 20px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 20px;
}

.avatar {
	float: left;
	width: 60px;
	height: 60px;
	margin: 60px;
	border-radius: 40px;
	background-color: #d6e9fe;
}

.username {
	margin-top: 30px;
}

.comment {
	margin: 10px;
	overflow: hidden;
}