* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.page {
	display: flex;
	flex-wrap: wrap;
}

.section {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu {
	background-color: #5995da;
	height: 80px;
}

.header {
	background-color: #b2d5ff;
}

.content {
	background-color: #eaedf0;
	height: 600px;
}

.sign-up {
	background-color: #d6e9fe;
}

.feature-1 {
	background-color: #f5cf8e;
}

.feature-2 {
	background-color: #f09a9d;
}

.feature-3 {
	background-color: #c8c6fa;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
	body {
		background-color: #f09a9d;
	}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.sign-up,
	.feature-1,
	.feature-2,
	.feature-3 {
		width: 50%;
	}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
	.page {
		width: 960px;
		margin: 0 auto;
	}
	.feature-1,
	.feature-2,
	.feature-3 {
		width: 33.3%;
	}
	.header {
		height: 400px;
	}
	.sign-up {
		height: 200px;
		order: 1;
	}
	.content {
		order: 2;
	}
}
