* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 1200px;
    font-size: 18px;
    font-family: sans-serif;
    color: #5d6063;
}

a:link,
a:visited {
    color: #5d6063;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
	display: flex;
	justify-content: space-between;
	

	width: 100%;
	padding: 50px;
	background-color: #d6e9fe;
}

.menu {
    margin-top: 15px;
}

.menu > li {
    display: inline;
    margin-right: 50px;
}

.menu > li:last-of-type {
    margin-right: 0;
}

/* margin 대신 flex의 justify-content: space-between을 쓰면 달라지려나 */

.dropdown:hover .features-menu {
    display: flex;
    flex-direction: column;
    background-color: #b2d6ff;
    border-radius: 5px;
    padding-top: 60px;

    position: absolute;
    top: -25px;
    left: -30px;
}

.features-menu li {
    list-style: none;
    border-bottom: 1px solid #fff;

    padding: 0 40px 10px 20px;
    margin: 10px;
}

.features-menu li:last-of-type {
    border-bottom: none;
}

.dropdown {
    position: relative;
}

.dropdown span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.features-menu {
    z-index: 1;
}

.features-menu {
    display: none;
}